* {
  margin     : 0;
  padding    : 10px;
  box-sizing : border-box;
  font-family: Helvetica, sans-serif;
  color      : #323232;
  border     : none;
}

Form {
  width        : 900px;
  border       : solid 5px #ececec;
  padding      : 20px;
  border-radius: 10px;
}